@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #fff;
  --color-bg-offset: #f7f7f9;
  --color-text: #373a3c;
  --color-text-offset: #818a91;
  --color-border: #eceeef;
  --color-primary: #ff335f;
  --color-primary-offset: #ff1447;
  --color-secondary: #43a9a3;
  --measure: 60ch;
}

* {
  max-width: var(--measure);
}

html {
  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

html,
body,
div,
header,
nav,
main,
section,
footer {
  max-width: none;
}

a:focus,
a:hover {
  color: var(--color-primary-offset);
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: transparent;
  box-shadow: 0 0 0 3px var(--color-secondary);
}

em {
  font-style: unset;
}
.bg-code {
  background-color: #35435f;
}

.font-300 {
  font-weight: 300;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}

.text-12 {
  font-size: 0.75rem;
}

.text-13 {
  font-size: 0.8125rem;
}

.text-14 {
  font-size: 0.875rem;
}

.text-15 {
  font-size: 0.9375rem;
}

.text-16 {
  font-size: 1rem;
}

.text-17 {
  font-size: 1.0625rem;
}

.text-18 {
  font-size: 1.125rem;
}

.text-24 {
  font-size: 1.5rem;
}

.text-28 {
  font-size: 1.825rem;
}

.text-64 {
  font-size: 4rem;
}

.leading-11 {
  line-height: 3rem;
}

.min-vh-100 {
  min-height: 100vh;
}

.prose dt {
  font-weight: 400;
}

.prose dd {
  margin-bottom: 1rem;
  margin-left: 2rem;
  font-weight: 300;
}
